@model List<ProjectItem>

<!-- Demo Projects Section -->
<section id="demo-projects" class="py-5 bg-dark">
    <div class="container">
        <h2 class="text-center mb-5 text-primary-yellow">DEMO PROJECTS</h2>
        <div class="row g-4">
            @foreach (var project in Model)
            {
                <partial name="/Components/_ProjectCard.cshtml" model="project" />
            }
        </div>
    </div>
</section>
