<!-- Hero Section -->
<section id="hero" class="hero-section text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-2 hero-title mb-4">CRAFTING ROBUST BACKEND SOLUTIONS</h1>
                <p class="lead mb-5 text-light">Software Developer specializing in .NET, Cloud and Scalable architectures.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <a href="#professional-projects" class="btn btn-primary btn-lg px-4">View Projects</a>
                    <a href="#contact" class="btn btn-outline-primary btn-lg px-4">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>
