@model List<ProjectItem>

<!-- Professional Projects Section -->
<section id="professional-projects" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5 text-primary-yellow">PROFESSIONAL PROJECTS</h2>
        <div class="row g-4">
            @foreach (var project in Model)
            {
                <partial name="/Components/_ProjectCard.cshtml" model="project" />
            }
        </div>
    </div>
</section>
